.content {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image {
  position: absolute;
  right: 0;
  height: 100px;
  margin-right: 15px;
}
